<%- include("common/header") -%>


<!-- Main content -->
<section class="content">
  <div class="container-fluid">

  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
<%- include("common/footer") -%>