<%- include("common/header") -%>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row mb-3">

            <!-- dr adding Modal -->
            <div class="modal fade" id="dmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">new Doctor</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="" method='POST'>
                                <div class="form-group">
                                    <label for="name">Doctor name:</label>
                                    <input type="text" class="form-control" id="name">
                                </div>
                                <div class="form-group">
                                    <label for="speciality">Speciality</label>
                                    <input type="text" class="form-control" id="speciality">
                                </div>
                                <div class="form-group">
                                    <label for="degree">Degree</label>
                                    <input type="text" class="form-control" id="degree">
                                </div>
                                <div class="form-group">
                                    <label for="experince">experince</label>
                                    <input type="text" class="form-control" id="experince">
                                </div>
                                <div class="form-group">
                                    <label for="phno">Phone no</label>
                                    <input type="text" class="form-control" id="phno">
                                </div>
                                <div class="form-group">
                                    <label for="address">Address</label>
                                    <input type="text" class="form-control" id="address">
                                </div>

                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary dsubmit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--dr adding modal end-->
            <!--dr add button-->
            <div class="col-sm-12">
                <span class="h3">Doctors Tables</span>
                <button class="btn btn-primary float-right" id='dCreate' data-toggle="modal" data-target="#dmodal">Add
                    new +</button>
            </div>
            <!--dr add button end-->
            <div class="modal fade" id="Updmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Edit Doctor</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="" method='POST'>
                                <div class="form-group">
                                    <label for="name">Doctor name:</label>
                                    <input type="text" class="form-control" id="uname">
                                </div>
                                <div class="form-group">
                                    <label for="speciality">Speciality</label>
                                    <input type="text" class="form-control" id="uspeciality">
                                </div>
                                <div class="form-group">
                                    <label for="degree">Degree</label>
                                    <input type="text" class="form-control" id="udegree">
                                </div>
                                <div class="form-group">
                                    <label for="experince">experince</label>
                                    <input type="text" class="form-control" id="uexperince">
                                </div>
                                <div class="form-group">
                                    <label for="phno">Phone no</label>
                                    <input type="text" class="form-control" id="uphno">
                                </div>
                                <div class="form-group">
                                    <label for="address">Address</label>
                                    <input type="text" class="form-control" id="uaddress">
                                </div>

                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-success Updsubmit">Update</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--end of the first row-->


        <div class="row">
            <table class="table table-dark">
                <thead>
                    <th>Name</th>
                    <th>Speciality</th>
                    <th>Degree</th>
                    <th>Experience</th>
                    <th>phone no</th>
                    <th>address</th>
                    <th></th>
                    <th></th>
                </thead>
                <tbody>
                    <% for(var i=0; i<doctorData.length; i++){%>
                    <tr>
                        <td class='nm'><%= doctorData[i].name  %> </td>
                        <td class="sp"><%= doctorData[i].speciality  %></td>
                        <td class="dg"><%= doctorData[i].degree %></td>
                        <td class="ex"><%= doctorData[i].experince  %></td>
                        <td class="ph"><%= doctorData[i].phno  %></td>
                        <td class="ad"><%= doctorData[i].address  %></td>
                        <td>
                            <button class="btn btn-success upd" data-toggle="modal" data-target="#Updmodal"
                                value="<%=doctorData[i]._id%>">
                                <i class="fa fa-upload"></i>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-danger del" value="<%=doctorData[i]._id%>">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>

    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
<%- include("common/footer") -%>
<script>
    $(document).ready(function () {
        $(".dsubmit").click(function () {
            var name = $("#name").val();
            var speciality = $("#speciality").val();
            var degree = $("#degree").val();
            var experince = $("#experince").val();
            var phno = $("#phno").val();
            var address = $("#address").val();

            var doctor = {
                "name": name,
                "speciality": speciality,
                "degree": degree,
                "experince": experince,
                "phno": phno,
                "address": address
            }
            $.ajax({
                url: "doctorCreate",
                type: "POST",
                data: { doctor: JSON.stringify(doctor) },
                success: function (data) {
                    window.location.reload();
                },
                error: function (data) {
                    console.log(data);
                }
            });
        });

        $('.del').click(function () {
            var btn_id = $(this).val();
            $(this).parents('tr').hide();
            $.ajax({
                url: "doctorDel",
                type: "POST",
                data: { del_id: btn_id },
                success: function (data) {
                },
                error: function (err) {
                    console.log(err);
                }
            });
        });

        $(".upd").click(function () {
            var id = $(this).val();
            $("#uname").val($(this).closest('tr').find('.nm').text());
            $("#uspeciality").val($(this).closest('tr').find('.sp').text());
            $("#udegree").val($(this).closest('tr').find('.dg').text());
            $("#uexperince").val($(this).closest('tr').find('.ex').text());
            $("#uphno").val($(this).closest('tr').find('.ph').text());
            $("#uaddress").val($(this).closest('tr').find('.ad').text());

            $('.Updsubmit').click(function () {
                var doctor = {
                    "name": $('#uname').val(),
                    "speciality": $('#uspeciality').val(),
                    "degree": $('#udegree').val(),
                    "experince": $('#uexperince').val(),
                    "phno": $('#uphno').val(),
                    "address": $('#uaddress').val()
                }
                $.ajax({
                    url: "doctorUpdate",
                    type: "POST",
                    data: { doctor: JSON.stringify(doctor), id: id },
                    success: function (data) {
                        window.location.reload();
                    },
                    error: function (data) {
                        console.log(data);
                    }
                });
            });

        });
    });
</script>