<!DOCTYPE html>
<html>

<head>
  <title>Sign up</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-6">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" role="tab" data-toggle="tab" href="#signup">Signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" role="tab" data-toggle="tab" href="#login">login</a>
          </li>
        </ul>
        <div class="tab-content mt-4">
          <!--signup tab-->
          <div class="" id='msg' role="alert">
          </div>
          <div class="tab-pane fade show active" id="signup">
            <form action="" method="POST">
              <div class="form-group stage1">
                <label for="email">Email:</label>
                <input type="email" class="form-control" name='email' id="s_email"
                  placeholder="enter your email and send OTP" />
              </div>
              <div class="form-group text-center stage1">
                <button type="button" class="btn btn-success otp_btn">
                  send OTP
                </button>
              </div>
              <div class="form-group stage2 d-none">
                <input type="text" class="form-control" name='otp' id="s_otp" placeholder="enter OTP here" />
              </div>
              <div class="form-group text-center stage2 d-none">
                <button type="button" class="btn btn-success otpcheck_btn">
                  verify
                </button>
              </div>
              <div class="form-group stage3 d-none">
                <label for="pass">Password</label>
                <input type="password" class="form-control" name='pass' id="s_pass" required />
              </div>
              <div class="form-group stage3 d-none">
                <label for="cpass">confirm password</label>
                <input type="password" class="form-control" name='cpass' id="s_cpass" required />
              </div>
              <div class="form-group text-center stage3 d-none">
                <button type="button" class="btn btn-success s_btn">
                  Sign up
                </button>
              </div>
            </form>
          </div>
          <!--login tab-->
          <div class="tab-pane fade" id="login">
            <form action="" method="POST">
              <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" name='email' id="l_email" />
              </div>
              <div class="form-group">
                <label for="pass">Password</label>
                <input type="password" class="form-control" name='pass' id="l_pass" />
              </div>
              <div class="form-group text-center">
                <button type="button" class="btn btn-success l_btn">
                  Log in
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(function () {

        $('.nav-pills').tab('show');

        $(".otp_btn").click(function () {
          var email = $("#s_email").val();
          if (email != "") {
            $.ajax({
              url: "sendOTP",
              type: "POST",
              data: { email: email },
              success: function (data) {
                if (data[0] == true) {
                  $(".stage1").addClass('d-none');
                  $(".stage2").removeClass('d-none');
                  $('#msg').text(data[1]).removeClass('alert text-center alert-danger').addClass('alert text-center alert-success');
                }
                else
                  $('#msg').text(data[1]).removeClass('alert text-center alert-success').addClass('alert text-center alert-danger');
              },
              error: function (data) {
                console.log(data);
              }
            });
          }
          else
            $('#msg').text("email can't be empty").removeClass('alert text-center alert-success').addClass('alert text-center alert-danger');
        });

        $(".otpcheck_btn").click(function () {
          var OTP = $("#s_otp").val();
          var email = $("#s_email").val();
          if (OTP != "") {
            var OTPdata = {
              "email": email,
              "otp": OTP
            }
            $.ajax({
              url: "checkOTP",
              type: "POST",
              data: { otpdata: JSON.stringify(OTPdata) },
              success: function (data) {
                if (data[0] == true) {
                  $(".stage2").addClass('d-none');
                  $(".stage3").removeClass('d-none');
                  $('#msg').text(data[1]).removeClass('alert text-center alert-danger').addClass('alert text-center alert-success');
                }
                else
                  $('#msg').text(data[1]).removeClass('alert text-center alert-success').addClass('alert text-center alert-danger');
              },
              error: function (data) {
                console.log(data);
              }
            });
          }
          else
            $('#msg').text("OTP can't be empty").removeClass('alert text-center alert-success').addClass('alert text-center alert-danger');
        });

        // for signup
        $(".s_btn").click(function () {
          var email = $("#s_email").val();
          var pass = $("#s_pass").val();
          var cpass = $("#s_cpass").val();
          if (pass != "" && cpass != "") {
            if (pass.length >= 5) {
              if (pass != cpass)
                $('#msg').text("passowrd not matched").removeClass('alert text-center alert-success').addClass('alert text-center alert-danger');
              else {
                var user = {
                  "email": email,
                  "password": pass
                }
                $.ajax({
                  url: "signup",
                  type: "POST",
                  data: { user: JSON.stringify(user) },
                  success: function (data) {
                    if (data[0] == true) {
                      $(".stage3").addClass('d-none');
                      $('#msg').text(data[1]).removeClass('alert text-center alert-danger').addClass('alert text-center alert-success');
                    }
                    else
                      $('#msg').text(data[1]).removeClass('alert text-center alert-success').addClass('alert text-center alert-danger');
                  },
                  error: function (data) {
                    console.log(data);
                  }
                });
              }
            }
            else {
              $('#msg').text("passoword should be atleast 6 character long").removeClass('alert text-center alert-success').addClass('alert text-center alert-danger');
            }
          }
          else {
            $('#msg').text("fields can not be empty").removeClass('alert text-center alert-success').addClass('alert text-center alert-danger');
          }
        });
        // for login
        $(".l_btn").click(function () {
          var email = $("#l_email").val();
          var pass = $("#l_pass").val();

          var user = {
            "email": email,
            "password": pass
          }
          $.ajax({
            url: "login",
            type: "POST",
            data: { user: JSON.stringify(user) },
            success: function (data) {
              if (data[0] == false)
                $('#msg').text(data[1]).removeClass('alert text-center alert-success').addClass('alert text-center alert-danger');
              else {
                window.location = "/dashboard";
              }
            },
            error: function (data) {
              console.log(data);
            }
          });
        });

      });
    </script>
</body>

</html>