<%- include("common/header") -%>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row mb-3">

            <!--medi adding Modal -->
            <div class="modal fade" id="smodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">new medicine</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="" method='POST'>
                                <div class="form-group">
                                    <label for="name">medicine name:</label>
                                    <input type="text" class="form-control" id="name">
                                </div>
                                <div class="form-group">
                                    <label for="mfg">mfg</label>
                                    <input type="text" class="form-control" id="mfg">
                                </div>
                                <div class="form-group">
                                    <label for="exp">exp</label>
                                    <input type="text" class="form-control" id="exp">
                                </div>
                                <div class="form-group">
                                    <label for="stock">stock</label>
                                    <input type="text" class="form-control" id="stock">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary ssubmit">submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--regionend-->
            <!--medi file modal-->
            <div class="modal fade" id="fmodal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">choose file( only csv)</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="" method='POST' enctype="multipart/form-data" id='myform'>
                                <div class="form-group">
                                    <label for="ff">file</label>
                                    <input type="file" class="form-control" id="ff" name="ff">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary fupload">Upload</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--medi file modal end-->

            <div class="col-sm-12">
                <span class="h3">medicines Table</span>
                <!--file button-->
                <button class="btn btn-primary float-right" data-toggle="modal" data-target="#fmodal">
                    Choose file</button>
                <!--file button end-->
                <!--medi add button-->
                <button class="btn btn-primary float-right mr-2" data-toggle="modal" data-target="#smodal">Add
                    new +</button>
                <!--medi add button end-->
            </div>
            <div class="modal fade" id="umodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Edit medicine</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="" method='POST'>
                                <div class="form-group">
                                    <label for="uname">medicine name:</label>
                                    <input type="text" class="form-control" id="uname">
                                </div>
                                <div class="form-group">
                                    <label for="umfg">mfg</label>
                                    <input type="text" class="form-control" id="umfg">
                                </div>
                                <div class="form-group">
                                    <label for="uexp">exp</label>
                                    <input type="text" class="form-control" id="uexp">
                                </div>
                                <div class="form-group">
                                    <label for="ustock">stock</label>
                                    <input type="text" class="form-control" id="ustock">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-success usubmit">Update</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--end of the first row-->


        <div class="row">
            <div class="col-md-12">
                <table id="medi_table">
                    <thead>
                        <th>Name</th>
                        <th>mfg</th>
                        <th>exp</th>
                        <th>stock</th>
                        <th></th>
                        <th></th>
                    </thead>
                    <tbody>
                        <% for(var i=0; i<mediData.length; i++){%>
                        <tr>
                            <td class='nm'><%= mediData[i].name  %> </td>
                            <td class="sp"><%= mediData[i].mfg  %></td>
                            <td class="dg"><%= mediData[i].exp %></td>
                            <td class="ex"><%= mediData[i].stock  %></td>
                            <td>
                                <button class="btn btn-success upd" data-toggle="modal" data-target="#umodal"
                                    value="<%=mediData[i]._id%>">
                                    <i class="fa fa-upload"></i>
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-danger del" value="<%=mediData[i]._id%>">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
<%- include("common/footer") -%>
<script>
    $(document).ready(function () {
        //record create
        $(".ssubmit").click(function () {
            var name = $("#name").val();
            var mfg = $("#mfg").val();
            var exp = $("#exp").val();
            var stock = $("#stock").val();

            var medi = {
                "name": name,
                "mfg": mfg,
                "exp": exp,
                "stock": stock
            }
            $.ajax({
                url: "mediCreate",
                type: "POST",
                data: { medi: JSON.stringify(medi) },
                success: function (data) {
                    window.location.reload();
                },
                error: function (data) {
                    console.log(data);
                }
            });
        });
        //record delete
        $('.del').click(function () {
            var btn_id = $(this).val();
            $(this).parents('tr').hide();
            $.ajax({
                url: "mediDel",
                type: "POST",
                data: { del_id: btn_id },
                success: function (data) {
                },
                error: function (err) {
                    console.log(err);
                }
            });
        });
        //record update
        $(".upd").click(function () {
            var id = $(this).val();
            $("#uname").val($(this).closest('tr').find('.nm').text());
            $("#umfg").val($(this).closest('tr').find('.sp').text());
            $("#uexp").val($(this).closest('tr').find('.dg').text());
            $("#ustock").val($(this).closest('tr').find('.ex').text());

            $('.usubmit').click(function () {
                var medi = {
                    "name": $('#uname').val(),
                    "mfg": $('#umfg').val(),
                    "exp": $('#uexp').val(),
                    "stock": $('#ustock').val()
                }
                $.ajax({
                    url: "mediUpdate",
                    type: "POST",
                    data: { medi: JSON.stringify(medi), id: id },
                    success: function (data) {
                        window.location.reload();
                    },
                    error: function (data) {
                        console.log(data);
                    }
                });
            });

        });
        // file upload
        $(".fupload").click(function () {
            var formData = new FormData();
            var file = document.getElementById("ff").files[0]
            formData.append("file", file);
            $.ajax({
                url: "mediUpload",
                type: "POST",
                // headers: { "content-type": "multipart/form-data" },
                data: formData,
                contentType: false,
                processData: false,
                success: function (data) {
                    window.location.reload();
                    console.log(data);
                },
                error: function (data) {
                    console.log(data);
                }
            });
        });

        //datatable

        $('#medi_table').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5'
            ]
        });
    });
</script>