<%- include("common/header") -%>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row mb-3">

            <div class="col-md-2 text-center">
                <img src="<%=user.image%>" alt="image" class="img-fluid elevation-3">
            </div>
            <div class="col-md-8 text-center">
                <input type="file" id="profile_img" class="form-control-file">
                <button class="btn btn-primary" id='pinput'><i class="fa fa-pen"></i> change profile picture</button>
                <button class="btn btn-danger" id='imgdel' value="<%=user.image%>"><i class="fa fa-close"></i> remove
                    picture</button>
            </div>
        </div>

    </div>

    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
<%- include("common/footer") -%>
<script>
    $(document).ready(function () {
        // image upload
        $("#pinput").click(function () {
            var pimg = document.getElementById("profile_img").files[0];
            var formData = new FormData();
            formData.append("pimg", pimg);
            $.ajax({
                url: "profileImageUpdate",
                type: "POST",
                data: formData,
                contentType: false,
                processData: false,
                success: function (data) {
                    window.location.reload();
                },
                error: function (data) {
                    console.log(data);
                }
            });
        });
        //image delete
        $("#imgdel").click(function () {
            var delimg = $(this).val();
            $.ajax({
                url: "profileImageDel",
                type: "POST",
                data: { delimg: delimg },
                success: function (data) {
                    window.location.reload();
                },
                error: function (data) {
                    console.log(data);
                }
            });
        });
    });
</script>