<%- include("common/header") -%>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="" id='msg' role="alert">
            </div>

            <!-- student adding Modal -->
            <div class="modal" id="student_create_modal" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">new student</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="form student_create_form">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" id="name" placeholder="name">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="email" class="form-control" id="email" placeholder="email">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" id="phone" placeholder="phone number">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <input type="date" class="form-control" id="age" placeholder="age">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <input type="text" class="form-control" id="course" placeholder="course">
                                    </div>
                                    <div class="form-group col-md-12">
                                        <input type="text" class="form-control" id="address" placeholder="address">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary student_create_submit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--student adding modal end-->
            <!--student add button-->
            <div class="col-sm-12">
                <span class="h3">student Tables</span>
                <input type="file" class="float-right ml-2" style="display:none;" id="student_csv_file">
                <button class="btn btn-primary float-right student_csv_submit ml-2"><i class="fa fa-file"></i></button>
                <button class="btn btn-primary float-right" id='student_create' data-toggle="modal"
                    data-target="#student_create_modal">Add
                    new +</button>
                <button class="btn btn-primary float-right mr-4" id='mail_button'><i
                        class="fa fa-envelope"></i></button>
            </div>
            <!--student add button end-->
            <div class="modal fade" id="student_update_modal" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Edit student</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="student_update_form">
                                <div class="form-group">
                                    <label for="uname">Student name:</label>
                                    <input type="text" class="form-control" id="uname">
                                </div>
                                <div class="form-group">
                                    <label for="uemail">Email</label>
                                    <input type="email" class="form-control" id="uemail">
                                </div>
                                <div class="form-group">
                                    <label for="uphone">phone</label>
                                    <input type="text" class="form-control" id="uphone">
                                </div>
                                <div class="form-group">
                                    <label for="uage">age</label>
                                    <input type="date" class="form-control" id="uage">
                                </div>
                                <div class="form-group">
                                    <label for="ucourse">course</label>
                                    <input type="text" class="form-control" id="ucourse">
                                </div>
                                <div class="form-group">
                                    <label for="uaddress">Address</label>
                                    <input type="text" class="form-control" id="uaddress">
                                </div>

                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-success student_update_submit">Update</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--end of the first row-->


        <div class="row">
            <table class="table table-dark">
                <thead>
                    <th>Name</th>
                    <th>email</th>
                    <th>phone</th>
                    <th>age</th>
                    <th>course</th>
                    <th>address</th>
                    <th></th>
                    <th></th>
                </thead>
                <tbody>
                    <% for(var i=0; i<studentData.length; i++){%>
                    <tr>
                        <td class='nm'><%= studentData[i].name  %> </td>
                        <td class="em"><%= studentData[i].email  %></td>
                        <td class="ph"><%= studentData[i].phone %></td>
                        <td class="ag"><%= studentData[i].age  %></td>
                        <td class="co"><%= studentData[i].course  %></td>
                        <td class="ad"><%= studentData[i].address  %></td>
                        <td>
                            <button class="btn btn-success student_update" data-toggle="modal"
                                data-target="#student_update_modal" value="<%=studentData[i]._id%>">
                                <i class="fa fa-upload"></i>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-danger student_delete" value="<%=studentData[i]._id%>">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>

    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
<%- include("common/footer") -%>
<script>
    $(document).ready(function () {

        $(".student_create_submit").click(function () {

            var student = {
                "name": $("#name").val(),
                "email": $("#email").val(),
                "phone": $("#phone").val(),
                "age": $("#age").val(),
                "course": $("#course").val(),
                "address": $("#address").val()
            }
            $.ajax({
                url: "studentCreate",
                type: "POST",
                data: { student: JSON.stringify(student) },
                success: function (result) {
                    console.log(result);
                    if (result.status == true) {
                        window.location.reload();
                    }
                    else {
                        var msg = "";
                        toastr.options.timeOut = 10000;
                        toastr.options.preventDuplicate = true;
                        for (var i = 0; i < result.msg.length; i++) {
                            toastr.warning(result.msg[i]);
                        }
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
        });

        $('.student_delete').click(function () {
            var s_id = $(this).val();
            $.ajax({
                url: "studentDel",
                type: "POST",
                data: { student_id: s_id },
                success: function (data) {
                    toastr.options.timeOut = 2000;
                    toastr.success("Deleted");
                },
                error: function (err) {
                    console.log(err);
                }
            });
            $(this).parents('tr').hide();
        });

        $(".student_update").click(function () {
            var id = $(this).val();
            $("#uname").val($(this).closest('tr').find('.nm').text());
            $("#uemail").val($(this).closest('tr').find('.em').text());
            $("#uphone").val($(this).closest('tr').find('.ph').text());
            $("#uage").val($(this).closest('tr').find('.ag').text());
            $("#ucourse").val($(this).closest('tr').find('.co').text());
            $("#uaddress").val($(this).closest('tr').find('.ad').text());

            $('.student_update_submit').click(function () {
                var student = {
                    "name": $('#uname').val(),
                    "email": $('#uemail').val(),
                    "phone": $('#uphone').val(),
                    "age": $('#uage').val(),
                    "course": $('#ucourse').val(),
                    "address": $('#uaddress').val()
                }
                $.ajax({
                    url: "studentUpdate",
                    type: "POST",
                    data: { student: JSON.stringify(student), id: id },
                    success: function (data) {
                        window.location.reload();
                    },
                    error: function (data) {
                        console.log(data);
                    }
                });
            });

        });

        // file upload
        $(".student_csv_submit").click(function () {
            $("#student_csv_file").toggle();
        });
        $("#student_csv_file").change(function () {
            var formData = new FormData();
            var file = document.getElementById("student_csv_file").files[0]
            formData.append("file", file);
            $.ajax({
                url: "studentCsvUpload",
                type: "POST",
                data: formData,
                contentType: false,
                processData: false,
                success: function (data) {
                    window.location.reload();
                },
                error: function (data) {
                    toastr.error(data);
                }
            });
        });
        $("#mail_button").click(function () {
            console.log("---->")
            $.ajax({
                url: "mailToStudents",
                data: "",
                type: "POST",
                success: function (data) {
                    toastr.success(data);
                },
                error: function (data) {
                    toastr.error(data);
                }
            });
        });
    });
</script>